<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='help.css') }}">
  <link rel="stylesheet" type="text/css" href="/Hackathon/static/help.css">
  <script src="https://kit.fontawesome.com/4ee7f83580.js" crossorigin="anonymous"></script>
</head>
<body>
  <section class="hero">
    <div class="container">
      <h1>Contact Us</h1>
      <p>We would love to hear from you.</p>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <div class="contact-info">
        <h2>Contact Information</h2>
        <h1>Contact us at </h1>
        <p><strong>Address:</strong> Rajarambapu Institute of Technology, Rajaramanager</p>
        <p><strong>Email:</strong> 2010046@ritindia.edu</p>
        <p><strong>Phone:</strong> 9175991006</p>
      </div>
    </div>
</section>
      <section class="table">
        <div class="container">
          <h2>Contact Details</h2>
          <table>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            <tr>
              <td>Anshul Bhimnath</td>
              <td>2010046@ritinidia.edu</td>
              <td>9175991006 </td>
            </tr>
            <tr>
              <td>Sanket Bodhale</td>
              <td>1910029@ritinidia.edu</td>
              <td>8956333144</td>
            </tr>
            <tr>
                <td>Sejal Patil</td>
                <td>2010028@ritinidia.edu</td>
                <td>9096095885</td>
              </tr>
              <tr>
                <td>Chinmai Arekar</td>
                <td>2010026@ritindia.edu</td>
                <td>8857801541</td>
              </tr>
          </table>
        </div>
      </section>
      
      <section class="social-icons">
        <div class="container">
          <h2>For more Info follow us on social media</h2>
          <div class="icons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="2010046@ritindia.edu"><i class="fas fa-envelope"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 IT Elites</p>
    </div>
  </footer>
</body>
</html>
